<div class="bg-blue-800 text-gray-100 p-8 h-screen">
  <div class="mx-auto mb-4">
    <div class="h-12 flex items-center mb-4 border-b-2">
      <a href="#">
        <h1 class="font-bold text-2xl">
          Rock & Roll <span class="font-normal">on Octane</span>
        </h1>
      </a>
    </div>
    <ul>
      {{#each
        (array
          (hash title='State of the art' author='Robert Charles Wilson' rating='3' year='1986')
          (hash title='The Infinite Assassin' author='Greg Egan' rating='4' year='1991')
          (hash title='Liking what you see, a documentary' author='Ted Chiang' rating='5' year='2002')
        ) as |story|
      }}
        <li class="leading-loose">
          [{{story.year}}] {{story.title}} by {{story.author}} <span class="float-right">{{story.rating}}</span>
        </li>
      {{/each}}
    </ul>
  </div>
</div>
